{% extends 'base.html' %}

{% block body %}
  <div class="container col col-6 mt-5">
      <form class="p-3 border" action="" method="post">
        {{ form.csrf_token }}
        <legend class="titulo">Cadastro de Clientes</legend>
        <fieldset>
          <div class="imput-group mt-3">
            {{ form.nome.label(class="label label-atendimento") }}
            {{ form.nome(class="form-control", placeholder="Informe a razão social") }}
          </div>
          <div class="imput-group mt-3">
            {{ form.botaoSubmit(class="form-control btn btn-dark label-botao") }}
          </div>
        </fieldset>

      </form>

  </div>
{% endblock %}
