{% extends 'base.html' %}

{% block body %}
<div class="container col col-6 mt-2 mb-5">
  <h4>{{ atendimento.titulo }} - <small><a href="#form_resolucao">Resolução</a></small>  </h4>
  <blockquote>
    {{ atendimento.descricao }}
  </blockquote>

</div>
<div class="container col col-6 mt-2 mb-5">
  <card class="card p-3">
    <form id="form_resolucao" action="" method="post">
      {{ form.csrf_token }}
      <legend>Resolução</legend>
      <fieldset>
        <div class="imput-group mt-3">
          {{ form.titulo.label(class="label") }}
          {{ form.titulo(class="form-control") }}
        </div>
              <div class="imput-group mt-3">
          {{ form.cliente.label(class="label") }}
          {{ form.cliente(class="form-control") }}
        </div>
        <div class="imput-group mt-3">
          {{ form.descricao.label(class="label") }}
          {{ form.descricao(class="form-control") }}
        </div>
        <div class="imput-group mt-3">
          {{ form.solucao.label(class="label") }}
          {{ form.solucao(class="form-control") }}
        </div>
        <div class="imput-group mt-3">
          {{ form.botaoSubmit(class="form-control btn btn-dark") }}
        </div>
      </fieldset>

    </form>
  </card>
</div>
{% endblock %}
