{% extends 'base.html' %}

{% block body %}
  <div class="container">
    <h3>Atendimento de Suporte</h3>
    <hr>


<section id="chamados-abertos">
    <h2>Atendimentos</h2>
    <div class="d-flex wrap gap-2">
      {% for atendimento in atendimentos %}

  <div class="card">
  <a href="{{ url_for('exibirAtendimento', atendimento_id=atendimento.id) }}"><h5 class="atendimento">{{ atendimento.titulo }}</h5></a>
    </div>
      {% endfor %}
    </div>
    <p>Lista de atendimentos ...</p>
</section>



  </div>
{% endblock %}
